.App {
  justify-content: center;
  align-content: center;
  width: 95%
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main {
  justify-content: space-evenly;
  align-content: center;
  padding: 20px;
}
#gMap {
  /* height: 600px;
  width: 90%; */
  background-color: purple;
  /* justify-content: center;
  align-content: center; */
}
#left-comp, #right-comp, #map-comp {
  justify-content: center;
  align-content: center;
}

.legend {
  text-align: left;
  font-size: 11pt;
}
#leg-item {
  padding-right: 2px;
  padding-left: 2px;
}
#zero{
  height: 12px;
  width: 135px;
  background-color: #02e66c;
  margin: 0px;
}
#one{
  height: 12px;
  width: 135px;
  background-color: #06c961;
  margin: 0px;
}
#two{
  height: 12px;
  width: 135px;
  background-color: #02a34d;
  margin: 0px;
}
#three{
  height: 12px;
  width: 135px;
  background-color: #246b3b;
  margin: 0px;
}
#four{
  height: 12px;
  width: 135px;
  background-color: #174726;
  margin: 0px;
}

